.projects{
    
    display: flex;
    flex-direction: column;
    gap: 20px;
    border: 2px solid #343434;
    width: 300px;
    padding: 20px 40px;
    border-radius: 4px;
   
}

.projects-title{
    position: relative;

}

.projects-title h1{
    padding: 0px 30px;
    font-size: 40px;
    font-weight: 600;
}

.projects-title img{
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: -1;
}

.services-format{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
    padding: 10px;
    border-radius: 10px;
    border: 2px solid white;
    transition: 0.4s;
    cursor: pointer;
}

.projects-container{
    display: grid;
    grid-template-columns: 1fr;
    gap: 10px;
    margin-bottom: 40px;
}

.services-format h3{
    font-size: 28px;
    font-weight: 600;
}

.services-format h2{
    font-size: 28px;
    font-weight: 800;
}

.services-format p{
    color: #d4d4d4;
    font-size: 24px;
    line-height: 20px;
    max-width: 100px;
}

.services-readmore{
    display: flex;
    gap: 10px;
    align-items: center;
    margin-top: 20px;
}

.services-format:hover{
    border: 2px solid purple;
    transform: scale(1.05);
    transition: 0.4s;
}

