.projects{
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 20px;
  
    width: 270px;

    margin-left: 100px;
    
   
}

.projects-title{
  
    border: 2px solid #ff2ddcb4;
   
    padding: 15px 15px;
    border-radius: 4px;
    position: relative;
    display: flex;
    align-items: center;
    gap: 10px;
}



.projects-title h1{
    font-family: 'PixelOperator';
    text-align: ce;
    font-size: 35px;
    
    
    color: #ff2ddcb4;
    text-shadow: -1px -1px 0 #3f003494;
}
#windows_widget_projects_2{
    position: absolute;
    top: 15px;
    left:90px;
    width: 100%;
    height: 15px;
}

.projects-title img{
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: -1;
}

.services-format{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
    padding: 10px;
    border-radius: 4px;
    width: 250px;
    height: 300px;
    overflow: hidden; 
    position: relative; 

    transition: 0.4s;
    cursor: pointer;
}

.services-format img{
    position: absolute; 
    top: 0; 
    left: -190px; 
    width: 200%; 
    height: auto; 
    object-fit: cover; 
}

.projects-container{
    display: grid;
    grid-template-columns: 1fr;
    gap: 10px;
    margin-bottom: 40px;
}


.services-format p{
    color: #d4d4d4;
    font-size: 24px;
    line-height: 20px;
    max-width: 100px;
}

.services-readmore{
    display: flex;
    gap: 10px;
    align-items: center;
    margin-top: 20px;
}

.services-format:hover{
    border: 2px solid #ff2ddcb4;
    transform: scale(1.01);
    transition: 0.4s;
}

