.skill-wrapper{
  
    display: flex;
    flex-direction: column;
    gap: 20px;
    border: 2px solid #343434;
    width: 110%;
    padding: 20px 20px;
    border-radius: 4px;
 
}
.skills-title{
    display: flex;
    align-items: center;
    gap: 10px;
}

.skills-title span{
    font-size: 20px;
}

.skills-title h1 {
    font-family: MadouFuto;
    text-align: start;
    font-size: 26px;
    font-weight: 500;
    
    color: rgba(255, 255, 255, 0.5);
    text-shadow: -1px -1px 0 rgba(63, 63, 63, 0.541);

}

.skills{
    display: flex;
    flex-direction: column;
   
    gap: 20px;
}

.skill{
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: start;
    transition: 0.3s;
}

.skill p span{
    font-size: 24px;
    font-family: MadouFuto;
    color: white;
}

.skill-list{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 14px;
    width: 100%;
}

.skill-button{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding: 4px 10px;
    border-radius: 3px;
    background-color: white;
}

.skills span{
    font-size: 18px;
    font-family: 'PixelOperator';
    color: black;
}

.skills p {
    font-size: 24px;
    font-family: MadouFuto;
    color: rgba(0, 237, 205, 0.8);
    text-shadow: -1px -1px 0 rgb(0, 94, 81, 0.541);
}

.button-icon{
    margin-top: 5.5px;
}



.achievement p{
    font-size: 22px;
    font-weight: 500;
}

.skill-button:hover{
    transform: scale(1.05);
    transition: 0.3s;
}



@media (max-width:768px){
    .skill-list{
        grid-template-columns: 1fr 1fr 1fr;

    }
}