.about{

    display: flex;
    flex-direction: column;
    gap: 20px;
    border: 2px solid #343434;
    width: 110%;
    padding: 20px 20px;
    border-radius: 4px;
  
}

.about-title{
    position: relative;
    display: flex;
    align-items: center;
    gap: 10px;
}

.about-title span{
    font-size: 20px;
}

.about-title h1{
    font-family: 'Arcadepix';
    text-align: start;
    font-size: 32px;
    font-weight: 500;
    
    color: rgba(255, 255, 255, 0.582);
    text-shadow: -1px -1px 0 rgba(63, 63, 63, 0.541);

}

.about-section{
    display: flex;
    gap: 80px;
}

.about-info{
    display: flex;
    flex-direction: column;
    gap: 80px;
}

.about-paragraph{
    display: flex;
    flex-direction: column;
    gap: 20px;
    font-size: 24px;
    font-weight: 500;

}

.about-paragraph p{
    text-align: start;
    font-size: 19px;
    line-height: 22px;
    color: white;
    font-weight: 100;
}

.about-paragraph a{
    color: #ff00d6;
    text-decoration: none;
}


@media(max-width:768px){

}