
.status-card{
    position: relative;
    display: flex;
    flex-direction: column;
    border: 2px solid #343434;
    border-radius: 4px;
    width: 170px;
    padding: 10px 20px;
    gap: 5px;
    
}

.status-title h1{
    font-family: PixelOperator;
}

.status-description{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.status-description h1{
    font-family: PixelOperator;
    color: #00fe51;
}

.status-description p{

}

