.contact{
    border: 2px solid #343434;
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 110%;
    padding: 10px 10px;
    border-radius: 4px;

}

.contact-title{

    border-radius: 4px;
    position: relative;
    justify-content: space-between;
    display: flex;
    align-items: center;
    gap: 10px;
}
.contact-title h1{
    font-family: MadouFuto;
    text-align: start;
    font-size: 32px;
    font-weight: 100;
    
    color: rgba(255, 255, 255, 0.582);
    text-shadow: -1px -1px 0 #42424294;
}

.contact-title p{
    position: absolute;
    top: 0;
    right: 0;
}

.contact-section{
    position: relative;
    border: 2px solid #343434;
    border-radius: 3px;
    background-color: #ffffff;
    padding: 20px 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;   
   
    mask-size:contain;
    mask-position:center center;
   
    overflow: hidden;
}

#contact-tv-scan-lines{
    position: absolute;
    top: 0;
    left: 0;
    object-fit: cover;
    width: 100%;
    height: 100%;
    opacity: 0.15;
    pointer-events: none;
}

.contact-top{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.contact-top h1{
    font-size: 25px;
    font-weight: 100;
    font-family: MadouFuto;
    color: #343434;
}

.contact-top p{
    width: 70%;
    color: #343434;
    font-size: 17px;

}

.contact-detail{
    display: flex;
    align-items: center;
    gap: 10px;
}

.contact-right{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap:10px;
 

}

.contact-form-top{
    display: flex;
    width: 100%;
    justify-content: space-between;
    gap: 10px;
    
    
}

.contact-right label{
    color: #343434;
    font-size: 18px;
    font-weight: 500;
}

.contact-right input{
    border: none;
    width: 100%;
    height: 50px;
    padding-left: 20px;

    background: transparent;
    border: 1px solid #343434;
    color: #343434;
    font-family: PixelOperator;
    font-size: 20px;

}

.contact-right textarea{
    width: 100%;
    border: 1px solid #343434;
    padding: 25px;
    resize: none;
    background: transparent;
    color: #343434;
    font-family: PixelOperator;
    font-size: 20px;
    height: 180px;
}

.contact-submit{
    background-color: transparent;
      padding: 3px 20px; 
      font-size: 25px; 
      border: 1px solid #343434;
      border-radius: 2px; 
      font-family: PixelOperator;
      cursor: pointer; 
      box-shadow: 1px 1px 0px rgba(0, 0, 0, 0.2); 
}

.contact-submit:hover{
    background-color: rgba(128, 128, 128, 0.185);
    
}

.contact-submit:active{
    background-color: rgba(128, 128, 128, 0.267);
}

textarea:focus, input:focus{
    outline: none;
}

@media(max-width: 768px) {
    .contact{
        margin-top: 310px;
    }
}