.navbar{
    position: absolute;
    top: 30px;
    right: 40px;;

}

.nav-connect{
    display: flex;
    gap: 20px;
    align-items: center;
    font-size: 16px;
    font-weight: 500;
}

.uil-github{
    font-size: 30px;
    color: white;
}

.uil-linkedin{
    font-size: 30px;
    color: white;
}

.uil-youtube{
    font-size: 30px;
    color: white;
}



.nav-connect div{


    text-decoration: none;
    border: 1px solid #EEEEEE;
    padding: 5px 15px;
    background-color: transparent;
    border-radius: 5px;
    
    cursor: pointer;
    transition: 0.3s ease
}

.nav-connect div:hover{

    color: #ff2ddc;
    border-color: #ff2ddc;
 
}

.nav-mob-open{
    display: none;
}

.nav-mob-close{
    display: none;
}

@media(max-width:768px){

}