.footer{

 
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 9px;
}



.footer-top{
   display: flex;

   font-size: 18px;

}

.footer-bottom{
    display: flex;
    gap: 20px;
}



@media screen and(max-width: 768px){
    .footer{
        margin: 50px 70px;
    }

    .footer-top{
        display: flex;
        flex-direction: column-reverse;
        margin-bottom: 50px;
    }
}