
.background-video {
    position: absolute;

    width: 1900px;
    height: auto;
    z-index: -1; 
    object-fit: cover;

    opacity: 0.2;
  }

  .background-video-2 {
    position: absolute;

    width: 1900px;
    height: auto;
    z-index: -1; 
    object-fit: cover;
    margin-top: 1069px;
    opacity: 0.2;
  }


.title{
    margin-top: 100px;
    margin-bottom: -90px;
}

.title-back{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;

    z-index: -1;
   
    animation: flicker 0.4s infinite;

    
}

.title-back img{
    mask-size:contain;
    mask-repeat:no-repeat;
    mask-position:center center;
    mask-image:url('./assets/MassoPixelArtLogo.svg');

    width:100%;
    height: 140px;
    
    
    filter: drop-shadow(0 0 20px rgba(0, 237, 205, 0.699));   
    
    
}

.title-front{
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    color:rgba(255, 255, 255, 0.8);
    text-shadow: -1px -1px 0 rgba(22, 29, 28, 0.541);
    font-size: 25px;
    letter-spacing: -5px;;
    margin-left: 970px;
    margin-top: 79px;
    
}



@keyframes flicker{
    0% {opacity: 0.7;}
    10% {opacity: 1;}
    20% {opacity: 0.85;}
    40% {opacity: 1;}
    50% {opacity: 0.75;}
    60% {opacity: 1;}
    80% {opacity: 0.80;}
    100% {opacity: 1;}
}

.page-wrapper{
    display: flex;
    justify-content: center;
    margin-top: 100px;
    gap: 65px;
    margin-right: 160px;
    
}



.left-panel{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.main-panel{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    width: 30%;
}

.ad{

    background-color: white;
    width: 100%;
    height: 65px;
    padding: 20px 40px;
    border-radius: 4px;
}

.right-panel{
    position: relative;
    display: flex;
    flex-direction: column;
    margin-left: 0px;
    gap: 10px;

   
}

#massoLogo{
    position: relative;
    z-index: -1;
}

#massoLogoVHS{
    position: absolute;
    opacity: 0.2;
}

.vhs{
    background-image: url(./assets/tv_scan_lines_2.gif);
    background-size: cover;
    background-clip: text;
    -webkit-background-clip: text;
}
.neon{
    
    animation-name: animate;
    animation-duration: 0.8s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

.neon-pink{
    
    animation-name: animate-pink;
    animation-duration: 0.8s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}



@keyframes animate {
    0% {
      filter: drop-shadow(0px 0px 1px #ffffff88)
      drop-shadow(0px 0px 5px rgba(0, 237, 205, 0.61))

    }
  
    100% {
      filter: drop-shadow(0px 0px 3px #ffffff65)
      drop-shadow(0px 0px 8px rgba(0, 237, 205, 0.699))
    }
  }

  @keyframes animate-pink {
    0% {
      filter: drop-shadow(0px 0px 1px #ffffff88)
      drop-shadow(0px 0px 5px #fd02d37a)

    }
  
    100% {
      filter: drop-shadow(0px 0px 3px #ffffff65)
      drop-shadow(0px 0px 8px #fd02d380)
    }
  }

