*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: PixelOperator;
  src: url(./fonts/PixelOperator.ttf);
}

@font-face {
  font-family: UnifontMono;
  src: url(./fonts/UnifontExMono.ttf);
}

@font-face {
  font-family: PixelNES;
  src: url(./fonts/Pixel_NES.otf);
}

@font-face {
  font-family: Arcadepix;
  src: url(./fonts/ARCADEPI.TTF);
}

@font-face {
  font-family: MadouFuto;
  src: url(./fonts/MadouFutoMaruGothic-d9Xo7.ttf);
}

@font-face {
  font-family: PerfectDOSVGA;
  src: url(./fonts/Perfect\ DOS\ VGA\ 437\ Win.ttf);
}


body{
  image-rendering: pixelated;
  height: 100vh;
  background: black;
  color: white;
  font-family: 'UnifontMono', sans-serif;
  -webkit-font-smoothing: none;
  letter-spacing: 0.1px;
}